{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}

<h3>Novo professor: </h3>
<div class="card">
    <div class="card-body">
        <form action="/registro/professor/novo" method="POST">
            <label for="nome">Nome: </label>
                <input type="text" id="nome" name="nome" placeholder="Nome do professor" class="form-control">
            <label for="cpf">CPF: </label>
                <input type="text" id="cpf" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="123.456.789-29" class="form-control">
            <label for="especializacao">Especialização: </label>
                <input type="text" id="especializacao" name="especializacao" placeholder="Especialização" class="form-control">
            <br>
            <button type="submit" class="btn btn-success">Cadastrar professor</button>
        </form>
    </div>
</div>