<h2>Visualizar: </h2>
<hr>
<a href="/registro/estudante"><button class="btn btn-success mt-2">Estudantes</button></a>
<br>
<a href="/registro/professor"><button class="btn btn-success mt-4">Professores</button></a>
<br>
<a href="/registro/curso"><button class="btn btn-success mt-4">Cursos</button></a>
<br>
<a href="/registro/disciplina"><button class="btn btn-success mt-4">Disciplinas</button></a>
<br>
